.historico-container{

 padding:30px;

}

.historico-header{
 display:flex;
 justify-content:space-between;
 align-items:center;
 flex-wrap:wrap;
 gap:10px;
 margin-bottom:20px;
}


.historico-header button{

 background:#007FFF;
 color:white;
 border:none;
 padding:10px 16px;
 border-radius:6px;
 cursor:pointer;

}

table{
 width:100%;
 min-width:700px;
}


th,td{

 padding:12px;
 border-bottom:1px solid #eee;
 text-align:left;

}

.dashboard-km{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
 gap:15px;
}

.card{

 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 2px 10px rgba(0,0,0,0.05);

}

.card h4{

 font-size:14px;
 color:#666;

}

.card p{

 font-size:24px;
 font-weight:bold;
 margin-top:5px;

}

.status.andamento{

 background:#fff3cd;
 color:#856404;
 padding:4px 10px;
 border-radius:20px;

}

.status.parado{

 background:#e6f7ee;
 color:#1f9254;
 padding:4px 10px;
 border-radius:20px;

}

.acoes{

 margin-bottom:20px;

}

.btn-saida{

 background:#007FFF;
 color:white;
 border:none;
 padding:10px 16px;
 border-radius:6px;
 cursor:pointer;

}

.form-km{

 display:flex;
 flex-direction:column;
 gap:12px;

}

.form-km input{

 padding:10px;
 border:1px solid #ddd;
 border-radius:6px;

}

.alerta-manutencao{

 background:#ffe5e5;
 border:1px solid #ff4d4d;
 color:#b30000;
 padding:12px;
 border-radius:6px;
 margin-bottom:20px;
 font-weight:bold;
}

 
.acoes-tabela{

 display:flex;
 gap:8px;

}


.btn-retorno{

 background:#28a745;
 color:white;
 border:none;
 padding:6px 12px;
 border-radius:6px;
 cursor:pointer;

}

.btn-retorno:hover{

 background:#218838;

}

.btn-editar{

 background:#ffc107;
 border:none;
 padding:6px 12px;
 border-radius:6px;
 cursor:pointer;

}

.btn-editar:hover{

 background:#e0a800;

}

.grafico{

 margin-top:30px;
 background:white;
 padding:20px;
 border-radius:10px;
 box-shadow:0 2px 10px rgba(0,0,0,0.05);

}

.status{

 padding:4px 12px;
 border-radius:20px;
 font-weight:600;
 font-size:12px;

}

@media (max-width:768px){

 table{

  display:block;
  overflow-x:auto;

 }

 .acoes-tabela{
 flex-direction:column;
}

.btn-retorno,
.btn-editar{
 width:100%;
}

}

