.veiculos-container{

  padding:30px;

}

/* HEADER */

.veiculos-header{

  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:25px;

}

/* BOTÃO */

.veiculos-header button{

  background:#007FFF;
  border:none;
  color:white;
  padding:10px 16px;
  border-radius:6px;
  cursor:pointer;
  font-weight:500;

}

.veiculos-header button:hover{

  background:#005fcc;

}

/* TABELA */

.table-container{

  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 2px 8px rgba(0,0,0,0.05);

}

table{

  width:100%;
  border-collapse:collapse;

}

th{

  text-align:left;
  padding:12px;
  border-bottom:2px solid #eee;

}

td{

  padding:12px;
  border-bottom:1px solid #eee;

}

/* BOTÃO EXCLUIR */

td button{

  background:#ff4d4f;
  padding:6px 10px;

}

td button:hover{

  background:#d9363e;

}

.veiculos-filtros{

  margin-bottom:20px;

}

.veiculos-filtros input{

  padding:10px;
  width:250px;

  border:1px solid #ddd;
  border-radius:6px;

}