:root{

  --primary:#007FFF;
  --dark:#0f172a;
  --light:#ffffff;
  --gray:#f1f5f9;
  --yellow:#facc15;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:var(--gray);
}