.sidebar{

  width:230px;
  height:100vh;
  background:#007FFF;
  color:white;
  padding:20px;

}

.logo{
  margin-bottom:30px;
}

.sidebar nav{

  display:flex;
  flex-direction:column;
  gap:18px;

}

.sidebar a{

  color:white;
  text-decoration:none;
  font-weight:500;

}

.sidebar a:hover{

  color:#facc15;

}


/* RESPONSIVO */

@media(max-width:768px){

  .sidebar{

    width:70px;

  }

  .sidebar a{

    font-size:12px;

  }

}