.sidebar{
  width:240px;
  height:100vh;
  background:#0f172a;
  color:white;
  padding:20px;
}

.logo{
  margin-bottom:30px;
}

.sidebar nav{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.sidebar a{
  color:white;
  text-decoration:none;
}

.sidebar a:hover{
  color:#facc15;
}